.file-manager-controller {
    color: var(--win-button-color);
    cursor: pointer;
}

.file-manager-controller:hover {
    color: var(--win-button-active-color);
}

.dir-ent-button {
    width: 110px;
    height: fit-content;
    text-align: center;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 0.9rem;
    cursor: pointer;
    color: var(--win-button-color);
}

.dir-ent-button:hover {
    color: var(--win-button-active-color);
}

.dir-ent-icon {
    font-size: 3rem;
    padding-bottom: 10px;
}

[active-dirent = true] {
    background-color: var(--win-button-active-color);
    border-radius: var(--border-radius-1);
}

[active-dirent = true]:hover {
    color: var(--back-color);
}

.fm-header {
    position: fixed;
    width: calc(100% - var(--aside-border));
    height: var(--nav-h);
    background-color: var(--card-color-t);
}

.fm-footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - var(--aside-border));
    color: var(--win-button-color);
    background-color: var(--card-color-t);
    font-size: 0.9rem;
}

[page-compact = "true"] .file-manager-controller-text {
    display: none;
}

.aside-fs-group-header {
    color: var(--win-button-color);
    cursor: pointer;
    /* border-bottom: 1px solid var(--aside-divider-color); */
}

.aside-fs-group-header:hover {
    color: var(--win-button-active-color);
}

.aside-chevron {
    font-size: 0.7rem;
    transform: rotate(90deg);
}

.aside-divider {
    border-bottom: 1px solid var(--back-color);
}

[chevron-open = "true"] {
    transform: rotate(90deg);
}

.aside-fs-dirent {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    color: var(--win-button-color);
    white-space: nowrap;
}

.aside-fs-dirent:hover {
    width: 100%;
    border-top: 1px solid var(--back-color);
    border-bottom: 1px solid var(--back-color);
    color: var(--win-button-active-color);
}

.aside-fs-card {
    height: calc(100% - var(--nav-h));
}

.chevron-after {
    overflow: hidden;
    height : max-content;
}

.aside-fs-card::-webkit-scrollbar {
    width: 10px;
}

.aside-fs-card::-webkit-scrollbar-thumb {
    background-color: var(--back-color);
}

.fs-add-dirent {
    position: fixed;
    bottom: 40px;
    border-radius: var(--border-radius-1);
    background-color: var(--back-color);
    color: var(--win-button-active-color);
}

.fs-add-divider {
    border-bottom: 1px solid var(--card-color);
}

.fs-add-input {
    height: 1.35rem;
    min-width: 200px;
    background-color: var(--card-color-t);
    border-radius: var(--border-radius-1);
}

.fs-add-input::placeholder {
    color: var(--placeholder-color);
    border: 0;
}

.fs-create-button {
    border-radius: var(--border-radius-1);
    color: var(--win-button-color);
    cursor: pointer;
}

.fs-create-button:hover {
    color: var(--card-color);
}

.aside-fs-dirent .aside-close-file-button {
    color: transparent;
}

.aside-fs-dirent:hover .aside-close-file-button {
    color: var(--win-button-color);
}

.aside-fs-dirent .aside-close-file-button:hover {
    color: brown;
}

.active-aside-fs-item {
    background-color: var(--active-fs-item-color);
    border-top: 1px solid var(--back-color);
    border-bottom: 1px solid var(--back-color);
    border-left: 1px solid aquamarine;
    margin-left: 1px;
    color: var(--win-button-active-color);
}
