.top-panel {
    max-width: 100%;
    padding-bottom: 5px; /* crutch */
    padding-top: 5px;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: var(--cards-m) solid var(--back-color);
}
