.top-panel {
    max-width: 100%;
    /* margin-bottom: 5px; crutch */
    /* margin-top: 10px; */
    padding-left: 1px;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: var(--cards-m) solid var(--back-color);
}

.editor-line-numbering {
    width: 50px;
    height: 100%;
    background-color: aqua;
}

.editor-body {
    margin-top: 0px;
    width: 100%;
    height: calc(100% - var(--nav-h));
    resize: none;
    background-color: var(--card-color);
    color: var(--back-color);
    padding-left: 10px;
    overflow: auto;
    border: none;
}

.editor-body::-webkit-scrollbar {
    background-color: var(--back-color);
    width: 10px;
}

.editor-body::-webkit-scrollbar-thumb {
    background-color: var(--placeholder-color);
    cursor: pointer;
}

.editor-body:focus {
    outline: none;
}
