.pages {
    position: fixed;
    width: calc(100% - (var(--aside-w) + 3 * var(--nav-m)));
    height: calc(100% - (3 * var(--nav-m) + var(--nav-h)));
    left: calc(var(--aside-w) + 2 * var(--nav-m));
    top: calc(2 * var(--nav-m) + var(--nav-h));
}