.pages {
    position: fixed;
    width: calc(100% - (var(--aside-border) + var(--cards-m) + var(--win-m)));
    height: calc(100% - (var(--win-m)));
    right: var(--win-m);
    padding-top: calc(var(--title-m));
    top: 0px;
    border-top-right-radius: var(--border-radius-0);
    border-bottom-right-radius: var(--border-radius-0);
}
