.draggable {
    -webkit-app-region: drag;
}

#titlebar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: var(--title-m);
    width: 100%;
    border-bottom: var(--cards-m) solid var(--back-color);
    background-color: var(--card-color);
}

.controls {
    -webkit-app-region: no-drag;
    user-select: none;
}

.title {
    color: black;
}

.button {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    cursor: pointer;
}

.win-button {
    cursor: pointer;
    color: var(--win-button-color);
    padding: 5px;
}

.win-button:hover {
    color: var(--win-button-active-color);
}

.icon {
    color: aquamarine;
}