.aside {
    position: fixed;
    width: calc(var(--aside-border) - var(--win-m));
    padding-top: calc(var(--title-m));
    height: calc(100% - (var(--win-m)));
    left: var(--win-m);
    top: 0;
    border-top-left-radius: var(--border-radius-0);
    border-bottom-left-radius: var(--border-radius-0);
}

.aside-selector {
    width: 100%;
    height: calc(var(--nav-h) + 2px);
    border-bottom: var(--cards-m) solid var(--back-color);
    overflow-y: hidden;
    overflow-x: scroll;
}