.aside {
    position: fixed;
    width: calc(100% - (var(--aside-border) + var(--cards-m) + var(--win-m)));
    height: calc(100% - (var(--win-m)));
    right: var(--win-m);
    padding-top: calc(var(--title-m));
    top: 0px;
    overflow-y: hidden;
    overflow-x: auto;
    border-top-right-radius: var(--border-radius-0);
    border-bottom-right-radius: var(--border-radius-0);
}

.aside-selector {
    min-width: max-content;
    max-width: 100%;
    padding-bottom: 4px; /* crutch */
    border-bottom: var(--cards-m) solid var(--back-color);
}