.aside {
    position: fixed;
    width: var(--aside-w);
    height: calc(100% - (2 * var(--nav-m)));
    left: var(--nav-m);
    top: var(--nav-m);
    overflow-y: auto;
    overflow-x: hidden;
}

.aside-button {
    cursor: pointer;
    width: calc(var(--aside-w) - 8px);
    height: calc(var(--aside-w) - 8px);
    margin-left: 4px;
    margin-top: 4px;
}

.aside-button:hover {
    color: var(--aside-active-text-color);
    border-radius: var(--border-radius-0);
}

.active-aside-button {
    font-size: 10px;
    color: var(--aside-active-text-color);
}
